footer {
   background-color: $secondary;
   .footerContainer {
      padding: 50px 0;
      .updatedContainer,
      .contact {
         width: 45%;
      }
   }
}

// footer section styles //

// updated container //

.updatedContainer {
   h5 {
      font-family: $baseFontOne;
      font-weight: 400;
      font-size: 20px;
   }
   p {
      font-family: $baseFontTwo;
   }
   input {
      width: 100%;
      padding: 0 5px;
   }
   .subscribe {
      background-color: $quaternary;
      font-family: $baseFontOne;
      text-transform: uppercase;
      padding: 10px 25px;
      color: $quinary;
      border: none;
      width: 30%;
   }
   .subscribe:hover {
      background-color: $quinary;
      color: $quaternary;
   }
}

// info container //

.infoContainer {
   line-height: 15px;
   h5,
   p {
      letter-spacing: 0.2px;
      font-weight: 400;
   }
   h5 {
      font-family: $baseFontOne;
      font-size: 20px;
   }
   p {
      font-family: $baseFontTwo;
      font-size: 16px;
   }
}

// button styles //

.buttonsContainer {
   li {
      text-align: right;
      line-height: 26px;
      list-style: none;
      margin: 2px 0;
      a {
         font-family: $baseFontOne;
         text-decoration: none;
         color: $quinary;
      }
      a:hover {
         color: $quaternary;
      }
   }
}

// copy right //

.copyright {
   background-color: $quaternary;
   padding: 15px 0;
   p{
      font-family: $baseFontTwo;
      text-align: center;
      margin: 0;
   }
}