header {
   background-image: url(../assets/header-image.png);
   background-size: cover;
   padding-top: 20px;
   height: 100vh;
}

.menuContainer {
   div {
      width: 50%;
   }
   .logo {
      padding-top: 5px;
      width: 20%;
      a {
         font-family:$baseFontOne; 
      }
   }
   .logo a,
   .navigations li a {
      font-size: 20px;
      text-decoration: none;
      color: $quinary;
   }
   .navigations {
      width: 50%;
      .flex {
         justify-content: space-around;
         width: 75%;
      }
   }
   li {
      list-style: none;
      a {
         font-family: $baseFontTwo;
      }
   }
   li:hover {
      text-decoration: underline;
   }

}

.wrapper {
   .flex {
      justify-content: space-between;
   }
   .title {
      h1 {
         font-family: $baseFontTwo;
         font-size: 68.8px;
         font-weight: 400;
         width:40%;
      }
   }
   .socialContainer li {
      list-style: none;
      a {
         text-decoration: none;
         color: $quinary;
         i {
            margin: 10px auto;
            font-size: 26px;
         }
      }
      a:hover {
         color: $secondary; 
         transition: 0.5s;
      }
      a:visited {
         color: $tertiary;
      }
   }
}