.wrapper h2,
.infoContainer button,
.pandaInfo h3,
.pandaInfo button,
.otherLinks li a {
   font-family: $baseFontOne;
}

.infoContainer p,
.pandaInfo p {
   font-family: $baseFontTwo;
}

.aboutSection .wrapper h2,
.pandaInfo button,
.otherLinks li a {
   color: $primary;
}



.aboutSection {
   background-color: $tertiary;
   padding: 20px 0;
   .wrapper {
      h2 {
         text-align: center;
         // color: $primary;
         font-size: 42px;
         padding: 50px;
         margin: 0;
      }
      .flex {
         justify-content: space-between;
         align-items: center;
      }
      
   }
}

.aboutPhotos {
   .photoContainer {
      width: calc(100% / 3);
      margin: 10px;
      img {
         width: 100%;
      }
   }
   .photoContainer:hover {
      transform: scale(1.05);
      transition: 1s;
   }
}

.aboutInfo {
   padding: 40px 0;
   .smallPhotoContainer {
      width: 28%;
      img {
         width: 100%;
      }
   }
   .infoContainer {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      width: 70%;
      h2 {
         margin-bottom: 30px;
      }
      h2,
      p,
      button {
         text-align: left;
         padding: 0 15px;
      }

      p {
         margin-bottom: 20px;
         line-height: 30px;
         color: $secondary;
         font-size: 20px;

      }
      a {
         margin-top: 20px;
      }
      button {
         background-color:$primary;
         text-transform: uppercase;
         text-decoration: none;
         text-align: center;
         padding: 10px 20px;
         margin-left: 20px;
         font-size: 20px;
         color: $quinary;
         border: none;
      }
      button:hover {
         background-color: $secondary;
      }
   }
}


.ourPandaSection {
   background-color: $secondary;
   .pandaContainer {
      // justify-content: space-between;
      // flex-direction: column;
      // display: flex;
      width: 50%;
      img {
         width: 100%;
      }
   }
   .pandaInfo {
      padding: 7% 5%;
      margin-top: 0;
      h3 {
         font-weight: 400;
         font-size: 42px;
         margin: 0;
      }
      p {
         margin-bottom: 30px;
         line-height: 30px;
         font-size: 20px;
      }
      button {
         background-color: $quinary;
         text-transform: uppercase;
         text-decoration: none;
         // color: $primary;
         padding: 15px;
         border: none;
      }
      button:hover {
         background-color: $primary;
         color: $quinary;
      }
   }
}

.inquirySection {
   background-color: $tertiary;
   padding: 60px 0;
   .flex {
      justify-content: space-evenly;
   }
   .otherLinks {
      padding-left: 0;
      margin: 0;
      li {
         list-style: none;
         margin: 20px;
         a {
            text-decoration: none;
            // color: $primary;
            font-size: 20px;
            i {
               font-size: 35px;
               margin: 0 auto;
            }
         }
      }
      li:hover {
         transform: scale(1.2);
      }
   }
}

.inquiryButtons {
   justify-content: center;
   flex-direction: column;
   display: flex;
}
