// @media (max-width: 1400px) {


// }

@media (max-width: 940px) {

   html {
      visibility: visible;
   }

   .menuContainer {
      li {
         margin: 0 10px;
      }
   }


}

@media (max-width: 840px) {
   .wrapper .title {
      h1 {
         width: 60%;
      }
   }

}


@media (max-width: 768px) {

   .hamburger {
      display: block;
   }
   .navigations {
      display: none;
   }

   .wrapper {
      .title h1 {
         // width:÷ 60%;
         font-size: 52px;
      }
      .socialContainer {
         margin-top: 30px;
      }
   }
}

@media (max-width: 600px) {
   .aboutSection .wrapper {
      .flex {
         .photoPartners {
            width: calc(100% / 2 - 20px);
         }
         .photoThree {
            width: 100%;
         }
      }
      .aboutInfo {
         flex-direction: column;
         .hide {
            display: block;
            width: 100%;
         }
         .unhide {
            display: none;
         }
         .infoContainer {
            width: 100%;
            h2 {
            font-size: clamp(3vw, 6vw, 10vw);
            }
            p {
            font-size: clamp(1vw, 4vw, 6vw);
            }
            a {
               margin: 0 auto;
            }
         }
      }
      
   }
   
   .ourPandaSection {
      .flex {
         flex-direction: column;
         .pandaContainer {
            width: 100%;
         }
      }
      .unhide {
         display: block;
      }
      .hide {
         display: none;
      }
      .pandaContainer a {
         display: block;
         width: 100%;
         text-align: center;
      }
      .pandaInfo {
         h3 {
            text-align: center;
         }
      }
   }

}

@media (max-width: 480px) {

   .wrapper {
      .title h1 {
         font-size: 48px;
         width: 70%;
      }
   }

   .inquirySection {
      .flex {
         flex-direction: column;
         .inquiryButtons {
            text-align: center;
         }
      }
   }

   .footerContainer {
      .flex {
         flex-direction: column;
         flex-wrap: nowrap;
         .updatedContainer,
         .infoContainer {
            text-align: center;
            width: 45%;
         }
         
      }
   }

}
