// @media (max-width: 1400px) {


// }

@media (max-width: 940px) {

   html {
      visibility: visible;
   }

   .menuContainer {
      li {
         margin: 0 10px;
      }
   }


}

@media (max-width: 840px) {
   .wrapper .title {
      h1 {
         width: 60%;
      }
   }

}


@media (max-width: 768px) {

   .hamburger {
      display: block;
   }
   .navigations {
      display: none;
   }

   .wrapper {
      .title h1 {
         // width:÷ 60%;
         font-size: 52px;
      }
      .socialContainer {
         margin-top: 30px;
      }
   }
}

@media (max-width: 600px) {

   .socialContainer {
      display: none;
   }
   .aboutSection .wrapper {
      .flex {
         margin: 0 auto;
         .photoPartners {
            width: calc(100% / 2 - 20px);
            margin: 0 10px;
            img {
               width: 100%;
            }
         }
         .photoThree {
            width: 100%;
         }
      }
      .aboutInfo {
         margin-top: 0;
         flex-direction: column;
         .hide {
            display: block;
            width: 100%;
         }
         .unhide {
            display: none;
         }
         .infoContainer {
            width: 100%;
            h2 {
            font-size: clamp(3vw, 6vw, 10vw);
            margin-bottom: 15px;
            }
            p {
            font-size: clamp(3vw, 4vw, 6vw);
            }
            a {
               margin: 0 auto;
            }
         }
      }
      
   }
   .aboutInfo {
      .infoContainer button {
         padding: 30px 50px;
         margin: 30px;
      }
   }
   .ourPandaSection {
      .flex {
         flex-direction: column;
         .pandaContainer {
            width: 100%;
         }
      }
      .unhide {
         display: block;
      }
      .hide {
         display: none;
      }
      .pandaContainer a {
         display: block;
         width: 100%;
         text-align: center;
      }
      .pandaInfo {
         h3 {
            text-align: center;
         }
      }
   }

}

@media (max-width: 480px) {

   .wrapper {
      .title h1 {
         font-size: 48px;
         width: 70%;
      }
   }

   .inquirySection {
      .flex {
         flex-direction: column;
         .inquiryButtons {
            text-align: center;
         }
      }
   }

   .footerContainer {
      .flex {
         flex-direction: column;
         flex-wrap: nowrap;
         .updatedContainer,
         .infoContainer {
            text-align: center;
         }
         .updatedContainer {
            width: 100%;
            .email {
               padding: 20px;
               text-align: center;
            }
            .subscribe {
               width: 50%;
               margin: 15px auto;
            }
         }
         .contact {
            width: 100%;
            flex-direction: row;
         }
         .infoContainer {
            width: 50%;
            text-align: left;
            p .number {
               display: block;
               margin-top: 13px;
            }
         }
         .buttonsContainer {
            width: 40%;
         }
      }
   }
}
